.leftBlock {
    width: 250px;
    padding-top: 10px;
    background-color: rgba(-20, 0, 0, .8);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.listTask {

}

.listTask  {
    padding: 0;

}


.listTask  li a {
    color: #fff;
    text-decoration: none;
}

.listTask  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



.link {
    padding: 10px 100px 10px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

